.header_nav {
    background-color: #565251;
    justify-content: space-evenly;
}

.block {
    background-color: #565251;
    
    padding: 20px;
    width: 30%;
}


.block_livre {
    background-color: #565251;
    padding: 20px;
    width: 40%;
}

@media screen and (max-width: 1280px)
{
    .block {
        background-color: #565251;
        
        padding: 20px;
        width: 70%;
    } 

    .block_livre {
        background-color: #565251;
        padding: 20px;
        width: 80%;
    }
}